<img [src]="img" *ngIf="img; else elseImg" (error)="imgError()" (load)="imgLoaded()" alt="img">
<!-- <h3>{{ counter }}</h3> -->
<ng-template #elseImg>
  <img width="200px" [src]="imageDefault" alt="image">
</ng-template>
