<p>Quantity  {{ myShopingCart.length }}</p>
<p>Total:$ {{ total }}</p>
<p>Date {{ date | date:'short'}}</p>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"></app-product>
</div>
