<app-img [img]="product.image"></app-img>
<h2>{{ product.price | currency: 'COP'}}</h2>
<p> {{ product.title }} </p>
<p appHighlight> {{ product.description }} </p>
<button (click)="onAddToCart()">Add cart</button>



