/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('./styles/reset.scss');

* {
  font-family: 'Quicksand', sans-serif;
}

.product--grid {
  img {
    border-radius: 10px;
  }
}
